button {
    border: 0px;
    cursor: pointer;
    background: none;
}

body {
    height: 400px;
    width: 400px;
    overflow-y: hidden;
    margin: 0px;
}

.header span {
    color: #fff;
    font-weight: 500;
}

.header {
    width: 100%;
    background: #3F51B5;
    padding-left: 3px;
    padding: 4px;
    font-size: large;
}

.body {
    padding: 2px;
}

.m-top-5 {
    margin-top: 5px;
}

select {
    width: 100%;
    padding: 3px;
}

table {
    width: 100%;
    background: #fff;
}

.time {
    font-size: 1.5em;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.todo-input {
    margin-left: 1px;
    height: 20px;
    width: 88%;

    font-size: 1.4em;
    font-weight: bold;
    padding-left: 2px;
}

.list-text{
    padding-left: 4px;
}

.save {
    background: #2196F3;
    color: #fff;
    height: 26px;
    position: relative;
    top: 1px;
    width: 42px;
    margin-left: -7px;
}

.done-td:hover {
    background: #FFEB3B;
    color: #fff;
    cursor: pointer;
}

.done {
    background: none;
    /* color: #fff; */

}

.center {
    text-align: center
}

.list-text {
    font-size: 1.3em;
}

.finished {
    text-decoration: line-through;
}

.w-100 {
    width: 100%;
}

.m-b-10 {
    margin-bottom: 10px;
}

.ui-button{
    position: relative;
    right: -10px;
}

.dialog-footer {
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.dialog-buttonset{
    /* position: relative;
    top: 14px; */
}

.ui-dialog-titlebar{
    background: #3F51B5;
    color: #fff;
}

body{
    background-image: url(../images/bg1.png); 
    background-position-x: 26px;
    background-repeat: space;
}

.task-color-other{
    border-left: 4px #8BC34A solid;
}

.task-color-today{
    border-left: 4px #FF9800 solid;
}

.task-color-times-up{
    border-left: 4px red solid;
}

.task-color-done{
    border-left: 4px #795548 solid;
}

.cancel-btn{
    
}

.input-group{
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group .form-control {
    display: table-cell;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.form-control {
    /* display: block;
    width: 100%; */
    height: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

button, input {
    overflow: visible;
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-btn {
    display: table-cell;
}

.input-group {
    border-collapse: separate;
}

.input-group-btn>.btn {
    position: relative;
}

a:link {
    text-decoration: none;
    color: black;
  }
  

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 9;
}

.btn-default {
    color: #fff;
    background-color: #fff;
    border-color: #ccc;
}

#save-task img{
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
}

a:link {
    text-decoration: none;
  }

  .done img, .refresh img{
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
  }

  tr{
      height:42px;
  }